ol{
    font-family: 'Dancing Script', cursive;
    color: blue;
}
body{
    background-color: pink;
}
b{
    color: purple;
}
span{
    color: red;
    font-size: 30px;;
}
.🎯{
    font-size: 100px;
}